Introduction to Python for Data Science
====
2. [Variables](#variables)
3. [Operators](#operators)
4. [Naming and Assignment](#naming)
5. [if statement](#if)
6. [Basic functions](#func)
7. [Review Problems](#hwk)

Variables <a id='variables'></a>
===

<ul>
<li>Variables in Python are defined and typed for you when you set a value to them.
<li>Please note how Jupyter prints to the screen:
<ul>
<li>explicitly calling `print` vs. printing the last item in the cell
</ul>
</ul>

In [2]:
my_variable = 2
my_variable

2

In [3]:
my_variable = 2
my_variable        # no output
print "hello"

hello

In [4]:
my_variable = 2
print my_variable
type(my_variable)

2

int

In [5]:
my_variable = 2
print my_variable
print type(my_variable)   # printing a variable is different from the output of its value

2
<type 'int'>

In [6]:
my_variable = my_variable + 1
my_variable

3

In [7]:
my_variable += 1     # handy shortcut
my_variable

4

Types
----

In [8]:
# Boolean
True, False

(True, False)

In [9]:
# Integer
0, 1, 23, int(3.8)

(0, 1, 23, 3)

In [10]:
# Float
1.2, 3.14, float(2)

(1.2, 3.14, 2.0)

In [12]:
# String
'abc', "abc"

('abc', 'abc')

In [13]:
"""
this is 
a 
multi-line
string
"""

'\nthis is \na \nmulti-line\nstring\n'

In [15]:
print """this is 
a 
multi-line
string
"""

this is
a
multi-line
string

In [16]:
# None
None

In [17]:
type(3), type(3.14), type('foo'), type(None)

(int, float, str, NoneType)

In [18]:
def my_first_func():
    return "I'm so happy right now"

print my_first_func()
print type(my_first_func)

I'm so happy right now
<type 'function'>

Operators <a id='operators'></a>
----

In [19]:
2 * 3

6

In [21]:
2 ** 3

8

In [23]:
7 / 3   # hmmm....

2

In [25]:
7/3.0

2.3333333333333335

In [26]:
7 // 3.0

2.0

In [27]:
2 < 3

True

In [28]:
7 % 3

1

In [29]:
1 == 1.0

True

In [30]:
1 != 2

True

In [32]:
a = [1,2,3]
b = a
c = [1,2,3]

In [33]:
b == a     # great! Value equality

True

In [34]:
b is a    # b points to same object as a. Reference equality

True

In [35]:
c == a

True

In [36]:
c is a

False

In [37]:
print True or False
print True | False

True
True

In [38]:
print True and False
print False & True

False
False

In [39]:
print 0 < 1 & 0 < 2     # bit operator
print (0 < 1) & (0 < 2)
print 0 < 1 and 0 < 2   # boolean operator

False
True
True

In [40]:
fruits = ['apple', 'banana', 'cherry', 'durian', 'eggplant', 'fig']
'durian' in fruits

True

#### String handling

In [41]:
a = "A sentence broken up by a newline \n character"
print a

A sentence broken up by a newline
 character

In [42]:
newstring = a + "\t And this one separate by a tab"
print newstring

A sentence broken up by a newline
 character	 And this one separate by a tab

In [43]:
b = 5
print newstring + ". Finally, we can insert a variable like so:", b

A sentence broken up by a newline
 character	 And this one separate by a tab. Finally, we can insert a variable like so: 5

In [44]:
print "Or even better, like so: {}".format(b)

Or even better, like so: 5

In [190]:
a = "ABC DEFG"
print(a[1:3])
print(a[0:5])  # same as print(a[:5])

BC
ABC D

In [192]:
a = "ABC defg"
print a.lower()
print a.upper()
print a.find('d') # return index
print a.replace('de','a')
print a

abc defg
ABC DEFG
4
ABC afg
ABC defg

In [194]:
b = a.replace('def','aaa')
print b
b = b.replace('a','c')
print b
print b.count('c') # count occurrences

ABC aaag
ABC cccg
3

Names, assignment and identity <a id='naming'></a>
----

In [212]:
# Create some object (the list [1,2,3]) on the RHS and assign it to the name on the LHS
a = [1,2,3]
a

[1, 2, 3]

In [213]:
# Find the identity (address in memory in CPython) of the object named a
id(a)

4587958856

In [214]:
# Give the object named as a another name b
b = a
b

[1, 2, 3]

In [215]:
# b is just another name for the object also named a
# So the identity is the same
id(b)

4587958856

In [216]:
# Create a new object (the list [1,23]) and give it a name c
c = [1,2,3]
c

[1, 2, 3]

In [217]:
# The object named c has a different identity from the object with names a, b
id(c)

4587959288

In [218]:
a

[1, 2, 3]

In [219]:
b[0] = 99

In [220]:
a

[99, 2, 3]

In [221]:
c

[1, 2, 3]

### Augmented assignment

In [223]:
x = 1

In [224]:
x += 2
x

3

In [225]:
x **= 3
x

27

Naming conventions
----

See [PEP 0008 Style Guide for Python Code](https://www.python.org/dev/peps/pep-0008/)

if statements<a id='if'></a>
---

<ul>
<li>**`if`**: An if statement consists of a boolean expression followed by one or more statements.
<li>**`if else`**: An if statement can be followed by an optional `else` (or `elif`) statement, which executes when the boolean expression is `FALSE`.
</ul>

In [2]:
x, y = 3, 7
if x > y:
    print "x is bigger"

In [3]:
if x == y or x > y:
    print "Could have used >="
else:
    print "x < y"

x < y

In [4]:
# is this expected?

if x < y:
    if x < y/2:
        print "x is less than half of y"
    else:
        print "x is less than y"

x is less than y

Function basics <a id='func'></a>
=====

### Built-in functions

In [166]:
len('hello')

5

In [397]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [398]:
range(1, 10)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [399]:
range(1, 10, 2)

[1, 3, 5, 7, 9]

In [400]:
range(1, 10)[-1]

9

In [401]:
ord('c') - ord('a')

2

In [402]:
chr(ord('a') + 2)

'c'

In [415]:
max([1,2,3,'hello','see ya'])

'see ya'

In [424]:
'h' < 's'

True

In [425]:
sum([4,5,6])

15

In [426]:
sorted(fruits)

['apple', 'banana', 'cherry', 'durian', 'eggplant', 'fig']

In [427]:
sorted(fruits, reverse=True)

['fig', 'eggplant', 'durian', 'cherry', 'banana', 'apple']

In [428]:
sorted(fruits, key=len)

['fig', 'apple', 'banana', 'cherry', 'durian', 'eggplant']

### User-defined functions

In [429]:
def f(a, b, c):
    return a + b * c

In [430]:
f(1,2,3)

7

In [435]:
f(c=3, a=1, b=2)

7

In [436]:
f(1,2,c=3)

7

In [437]:
args = [1,2,3]
f(*args)

7

In [439]:
kwargs = dict(a=1, b=2, c=3)  # keyword argument
f(**kwargs)

7

# Review Problems (will review one day 1)<a id='hwk'></a>

**Q1**.
<br>

Without using Python, what's the following output?

<ol>
<li>`not (1 == 1 and 0 != 1)`
<li>`3 == 3 and (not ("testing" == "testing" or "Python" == "Fun"))`
<li>`20 == ((20 % 3) ** 2 + 1) * (9//2)`
</ol>

**Q2**.
<br>

For the following string, replace every occurrence of the first character with #, except for the first character. So:

`'this is a sentence that starts with the letter t'`

Becomes

`'this is a sen#ence #ha# s#ar#s wi#h #he le##er #'`

**Q3**.

Write a program that prints, to the console, a list of 2 integers and 1 string. Do this:

<ol>
<li>Using the `format` function
<li>Not using `format`
</ol>

For example:

`[2,'s',4]`

Each of the three elements should be a variable, not hardcoded. Make sure the spacing is as shown above.

**Q4**.
<br>

Write a function `power_floor(a,b)` that returns the floor of `a` to the power of `b`. "Floor" means "rounded down".<br>

Hint 1) For example, `5.5^3 = 166.375`, but `power_floor(5.5, 3)` should return `166`.

Hint 2) Here is an example of an `add` function:

```
def add(a,b):
    return a + b
```