Introduction to Python for Data Science
====
0. [Overview](#overview)
1. [Review](#review)
2. [List, Tuples, etc...](#arrays)
3. [Control Structures](#ctrl)
4. [List comprehension](#compr)
5. [Review Problems](#hmwk)

# WHOAMI?

<ul>
<li>Ilan, Ai, Squarespace, Duke
<li>TAis: Paul and Nick, Ai
</ul>

# WHOAREYOU?

<ul>
<li>Names
<li>Programming experience
<li>Why are you here
<li>Favoriate band | restaurant (in Durham) | hometown (if not Durham)
</ul>

# COURSE OVERVIEW <a id='overview'></a>

<ul>
<li>Will be using notebooks to review concepts
<ul>
<li>Ask questions
<li>**Don't worry about memorizing or understanding everything the first time** - takes a while to sink in
<li>Do the in class exercises - collaborate!
</ul>
<li>Try the at home exercises - don't be discouraged if they take a while or you don't get it right away
<ul>
<li>Feel free to email me with questions
<li>If you want more - let me know and I'll provide more!
</ul>
<li>Syllabus is tentative - based on class flow
</ul>

### Jupyter

<ul>
<li>Interative notebook
<ul>
<li>Write code in cells and run to see output. Cells communicate - values are carried forward.
<li>Can also insert markdown or $\LaTeX$, i.e. $y = \beta_0 + \beta_1 x + \beta_2x^2$
<li>Can also insert images, etc..
</ul>
<li>Makes for easy prototyping
<li>Quick visualizations
<li>Shareable, live code
<li><a href="https://ipython.org/">IPython</a> is the Python *kernel* for Jupyter - but there is a Ruby kernel, Julia, ...
<li>...but can promote bad code practice, not used for production
<li>Spend time getting to know the notebook. Shortcuts, etc...
</ul>

Review pre work <a id='review'></a>
======

<ul>
<li>Variables
<li>Boolean logic
<li>Operators
<li>`if` statement
<li>Built-in functions
</ul>

**Q1**.
<br>

Without using Python, what's the following output?

<ol>
<li>`not (1 == 1 and 0 != 1)`
<li>`3 == 3 and (not ("testing" == "testing" or "Python" == "Fun"))`
<li>`20 == ((20 % 3) ** 2 + 1) * (9//2)`
</ol>

In [9]:
## SOLUTION

False
False
True

True

**Q2**.
<br>

For the following string, replace every occurrence of the first character with #, except for the first character. So:

`'this is a sentence that starts with the letter t'`

Becomes

`'this is a sen#ence #ha# s#ar#s wi#h #he le##er #'`

In [10]:
## SOLUTION

s = 'this is a sentence that starts with the letter t'
char = s[0]  
s = s.replace(char, '#')  
s = char + s[1:] 
s

'this is a sen#ence #ha# s#ar#s wi#h #he le##er #'

**Q3**.

Write a program that prints, to the console, a list of 2 integers and 1 string. Do this:

<ol>
<li>Using the `format` function
<li>Not using `format`
</ol>

For example:

`[2,'s',4]`

Each of the three elements should be a variable, not hardcoded. Make sure the spacing is as shown above.

In [35]:
## SOLUTION

a = 2
b = 's'
c = 4

print "Using format:", "    [{},{},{}]".format(a,b,c)
print "Not using format:", "[" + str(a) + "," + str(b) + "," + str(c) + "]"

Using format:     [2,s,4]
Not using format: [2,s,4]

**Q4**.
<br>

Write a function `power_floor(a,b)` that returns the floor of `a` to the power of `b`. "Floor" means "rounded down". i.e. `power_floor(5.5,3)` outputs `166`.

In [58]:
## SOLUTION

def power(a,b):
#    return round(a**b,0)
    return int(a**b)

power(5.5,3)

166

Tuples <a id='arrays'></a>
======
<ul>
<li>Array of values
<li>Different data types allowed
<li>Order matters
<li>Immutable - cannot change its value
<li>Tuple structure important - the position of its elements matters
</ul>

Tuples (generally) are sequences of different kinds of stuff, and you deal with the tuple as a **coherent unit**.

In [60]:
course = ('STA663', 2016, 'Spring', 75.0) # different types
print type(course)

<type 'tuple'>

In [61]:
course[0], course[1] # python indexing starts at 0

('STA663', 2016)

In [62]:
course[-1] # last one

75.0

In [72]:
course[1:3]

(2016, 'Spring')

In [73]:
course[0] = 3

TypeError: 'tuple' object does not support item assignment

### Tuple unpacking

In [74]:
name, year, semester, grade = course  # must be the correct number of tuples

In [75]:
semester, name

('Spring', 'STA663')

In [265]:
grade

75.0

In [78]:
name, year, semester = course   # sometimes use _ for variables you don't need

ValueError: too many values to unpack

Lists
====
<ul>
<li>Array of elements
<li>Elements *can be* of different types
<li>Data can be accessed by using indexing and manipulated
<li>Python indexing begins at 0
<li>Lists keep the order of the elements
<li>List of lists
</ul>

Lists (generally) are sequences of the same kind of stuff, and you deal with the items individually.

In [91]:
x = [0,1,2,3,4,5]
print x
print type(x)

[0, 1, 2, 3, 4, 5]
<type 'list'>

In [92]:
x[1:4]

[1, 2, 3]

In [93]:
x[-1] = 10
print x

[0, 1, 2, 3, 4, 10]

In [94]:
x[::2] # every 2nd element

[0, 2, 4]

In [95]:
x[::-1] # reverse

[10, 4, 3, 2, 1, 0]

In [96]:
x + x # append

[0, 1, 2, 3, 4, 10, 0, 1, 2, 3, 4, 10]

In [97]:
x * 3

[0, 1, 2, 3, 4, 10, 0, 1, 2, 3, 4, 10, 0, 1, 2, 3, 4, 10]

In [98]:
x.append(20)   # changes value of x
x

[0, 1, 2, 3, 4, 10, 20]

In [99]:
x.extend([3,4,5])
x

[0, 1, 2, 3, 4, 10, 20, 3, 4, 5]

In [100]:
x.index(20)   # first occurence

6

In [101]:
x.count(3)

2

In [102]:
x = [1,2,[3,4],5,6]

In [103]:
x[1], x[2], x[2][1]

(2, [3, 4], 4)

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

## EXERCISE TIME!

1) Write a program that calculates and returns the euclidean distance between two points `u = (3,0)` and `v = (6,4)`.

Recall the distance formula:
$$
D = \sqrt{(u_{1} - v_{1})^2 + (u_{2} - v_{2})^2}
$$

2) Write a program that returns the greater of the first or last element of a list of integers. <br>

For example: `[1,-2,7,5]` should return `5`.

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [89]:
## SOLUTION - 1

u = [3, 0]
v = (6, 4)

((v[0] - u[0])**2 + (v[1] - u[1])**2)**0.5

5.0

In [90]:
## SOLUTION - 2

u = [1,-2,7,5] 
max(u[0], u[-1])

5

### For loops

In [135]:
fruits = ['apple', 'banana', 'cherry', 'durian', 'eggplant', 'fig']
fruits

['apple', 'banana', 'cherry', 'durian', 'eggplant', 'fig']

In [139]:
for fruit in fruits:
    print fruit,

apple banana cherry durian eggplant fig

In [147]:
for idx in range(len(fruits)):
    print idx, fruits[idx]

0 apple
1 banana
2 cherry
3 durian
4 eggplant
5 fig

In [148]:
# using enumerate
for idx, fruit in enumerate(fruits):
    print idx, fruit

0 apple
1 banana
2 cherry
3 durian
4 eggplant
5 fig

In [168]:
xs = [1, 2, 3, 4]
ys = [10, 20, 30, 40]
zs = ['a', 'b', 'c', 'd', 'e']

In [169]:
zip(xs, ys)

[(1, 10), (2, 20), (3, 30), (4, 40)]

In [170]:
for x, y, z in zip(xs, ys, zs):
    print (x, y, z)

(1, 10, 'a')
(2, 20, 'b')
(3, 30, 'c')
(4, 40, 'd')

In [171]:
zip('abcd', range(1,10))   # no error - could be good or bad?

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

Dictionary
----
<ul>
<li>Consist of pairs of keys and their corresponding values. Like a dictionary, lookup the `key` to get some `value`
<li>Values aren't numbered or in any specific order. Key's are also not ordered.
<li>You can add, remove, and modify the values in dictionaries
<li>Looks like a `JSON` object
</ul>

In [118]:
dictionary = {'a': 1, 'b':2, 'c':3}
dictionary

{'a': 1, 'b': 2, 'c': 3}

In [119]:
dictionary['b']

2

In [120]:
dictionary1 = dict(d = 4, e = 5, f = 6)
dictionary1

{'d': 4, 'e': 5, 'f': 6}

In [121]:
dictionary2 = dict([('a',1),('b',2),('d',3)])
dictionary2

{'a': 1, 'b': 2, 'd': 3}

In [122]:
dictionary.update(dictionary1)
dictionary

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [123]:
dictionary.keys()

['a', 'c', 'b', 'e', 'd', 'f']

In [124]:
dictionary.values()

[1, 3, 2, 5, 4, 6]

In [125]:
dictionary['g'] = 7
dictionary

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7}

In [126]:
for key in dictionary:
    print key, dictionary[key]

a 1
c 3
b 2
e 5
d 4
g 7
f 6

In [127]:
for key, value in dictionary.items():
    print key, value

a 1
c 3
b 2
e 5
d 4
g 7
f 6

In [52]:
d.items()

[('a', 1), ('c', 3), ('b', 2), ('e', 5), ('d', 4), ('g', 7), ('f', 6)]

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

## EXERCISE TIME!

Given the following dictionary:

```
yellow_pages = {
    'Name' : 'Donald Duck',
    'Address' : ('123 Disney St.', 26, 'FL', 32801)
}
```

Do the following:<br>

1. Add a key to `yellow_pages` called `Profession`
2. Set the value of `Profession` to be a list `['Comedian','Actor','Comic','Athlete']`.
3. Sort the `Profession` according to length of the word, i.e. `Comedian` is 8 letters long.
4. Change the `Name` to be `'Donald Duck, Jr.'`
5. Update the `Address` to reflect, Donald's new street, i.e. `456 Walt St.`.
<br>

The final answer should look like:

```
yellow_pages = {
    'Address': ('456 Walt St.', 26, 'FL', 32801),
    'Name': 'Donald Duck, Jr.',
    'Profession': ['Actor', 'Comic', 'Athlete', 'Comedian']
}
```

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [129]:
## SOLUTION
yellow_pages = {
    'Name' : 'Donald Duck',
    'Address' : ('123 Disney St.', 26, 'FL', 32801)
}

In [130]:
yellow_pages['Profession'] = sorted(['Comedian','Actor','Comic','Athlete'], key = len)

In [131]:
yellow_pages['Name'] = 'Donald Duck, Jr.'

In [132]:
yellow_pages['Address'] = ('456 Walt St.', yellow_pages['Address'][1], yellow_pages['Address'][2], yellow_pages['Address'][3])

In [140]:
yellow_pages

{'Address': ('456 Walt St.', 26, 'FL', 32801),
 'Name': 'Donald Duck, Jr.',
 'Profession': ['Actor', 'Comic', 'Athlete', 'Comedian']}

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

## EXERCISE TIME!

Write a Python program to generate and print a dictionary that contains key/value pairs of the form (x, x^2, x^3), for x from `1` to `10`.<br>

Expected output:
```
dictionary = {
    1: [1, 1, 1],
    2: [2, 4, 8],
    3: [3, 9, 27],
    4: [4, 16, 64],
    5: [5, 25, 125],
    6: [6, 36, 216],
    7: [7, 49, 343],
    8: [8, 64, 512],
    9: [9, 81, 729],
    10: [10, 100, 1000]
 }
```

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [1]:
## SOLUTION

n = 10
dictionary = {} 
  
for i in range(1,n+1):  
    dictionary[i] = [i, i**2, i**3]
dictionary

{1: [1, 1, 1],
 2: [2, 4, 8],
 3: [3, 9, 27],
 4: [4, 16, 64],
 5: [5, 25, 125],
 6: [6, 36, 216],
 7: [7, 49, 343],
 8: [8, 64, 512],
 9: [9, 81, 729],
 10: [10, 100, 1000]}

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

## EXERCISE TIME!

<ol>
<li>Print the keys of all values that are even
<li>Print the key with the maximum value
<li>Print the sum of all the values
</ol>

```
dictionary = {
    'a': 3, 
    'b': 2, 
    'c': 10, 
    'd': 7, 
    'e': 9, 
    'f' : 12, 
    'g' : 13
    }
```

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [2]:
## SOLUTION - 1

dictionary = {'a': 3 , 'b': 2, 'c': 10, 'd': 7, 'e': 9, 'f' : 12, 'g' : 13}

for key, val in dictionary.items():
    if val % 2 == 0:
        print key

print
## SOLUTION - 2, 3

max_, sum_, key_ = 0, 0, 0

for key, val in dictionary.items():
    sum_ += val
    if max_ < val:
        key_, max_ = key, val

print "Sum: ", sum_
print "Max: ", key_

c
b
f

Sum:  56
Max:  g

List (and tuple, dict, set...) Comprehension and One Liners <a id='compr'></a>
=====

<ul>
<li>Can write entire `for` loop or `if` statement in 1 line if it involves iterating over a list and doing some action
<li>List comprehensions are typical of and very conducive to **functional programming**.
<li>Very slick and can be easier to read. However, easy to get carried away.
<li>Rule of thumb:
<ul>
<li>List comprehensions are used for creating lists
<li>For loops are better for doing something with the elements of a list
</ul>
</ul>

In [161]:
x = range(1,10)
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [162]:
for i in x:
    print i**2,

1 4 9 16 25 36 49 64 81

In [165]:
[i**2 for i in x]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [169]:
l = []
for i in x:
    if i**.5 == int(i**.5):
        l.append(i)
l[-1]

9

In [166]:
[i for i in x if i**.5==int(i**.5)][-1]

9

In [475]:
[x**2 if x%2 == 0 else x**3 for x in range(10)]

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

In [481]:
[v for k, v in d.items() if k == 'a' or k == 'g']

[3, 13]

**But don't go overboard...**

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

## EXERCISE TIME!

1) Create the following matrix using:<br>
<ol>
<li>Nested for loops<br>
<li>List comprehension
</ol>

```
[[1, 0, 0, 0, 0], 
 [0, 2, 0, 0, 0], 
 [0, 0, 3, 0, 0],
 [0, 0, 0, 4, 0],
 [0, 0, 0, 0, 5]]
```

Hint: Think of the matrix as a list of lists. No need to stack the lists on top of each other like above.

2) Write a list comprehension that does the same thing as these nested `for` loops:

```
L = []
for i in range(10):
    for j in {2, 5, 9}:
        if i != j:
            L.append((i,j))
print L
```

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [19]:
## SOLUTION - 1

matrix = []
for i in range(5):
    row = []
    for j in range(5):
        if i == j:
            row.append(i+1)
        else:
            row.append(0)
    matrix.append(row)

        
print matrix
print [[item_idx+1 if item_idx == row_idx else 0 for item_idx in range(0, 5) ] for row_idx in range(0, 5) ]

[[1, 0, 0, 0, 0], [0, 2, 0, 0, 0], [0, 0, 3, 0, 0], [0, 0, 0, 4, 0], [0, 0, 0, 0, 5]]
[[1, 0, 0, 0, 0], [0, 2, 0, 0, 0], [0, 0, 3, 0, 0], [0, 0, 0, 4, 0], [0, 0, 0, 0, 5]]

In [21]:
## SOLUTION - 2

print [(i,j) for i in range(10) for j in {2,5,9} if i != j]

[(0, 9), (0, 2), (0, 5), (1, 9), (1, 2), (1, 5), (2, 9), (2, 5), (3, 9), (3, 2), (3, 5), (4, 9), (4, 2), (4, 5), (5, 9), (5, 2), (6, 9), (6, 2), (6, 5), (7, 9), (7, 2), (7, 5), (8, 9), (8, 2), (8, 5), (9, 2), (9, 5)]

Take away
===


<ul>
<li>Understand basic data types and control structures (most important are `if` statement and `for` loops)
<li>Manipulating (creating, iterating through, updating, ...) lists, dictionaries and tuples
<li>Write one line list comprehensions - and know when not to.
</ul>

Review Problems<a id='hmwk'></a>
===

**Q1.** 

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000
<ul>
<li>Using a `for` loop
<li>Using list comprehension
</ul>

In [23]:
## SOLUTION
sum([i for i in list(range(1,1000)) if i % 3 == 0 or i % 5 == 0])

233168

**Q2.** 

The sum of the squares of the first ten natural numbers is
$$
1^2 + 2^2 + ... + 10^2 = 385
$$
The square of the sum of the first ten natural numbers is
$$
(1 + 2 + ... + 10)^2 = 55^2 = 3025
$$
Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025 − 385 = 2640.

Write a program to find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum. (Euler problem #6)

The answer should be `25164150`.

In [515]:
## SOLUTION
sum(range(1,101))**2 - sum([i**2 for i in range(1,101)])

25164150

**Q3.**

A Pythagorean triplet is a set of three natural numbers, a < b < c, for which,

$$
a^2 + b^2 = c^2
$$
For example, $3^2 + 4^2 = 9 + 16 = 25 = 5^2$

There exists **exactly one** Pythagorean triplet for which a + b + c = 1000.
Write a program to find the product abc. (Euler problem #9)

The answer should be `(200, 375, 425, 31875000)`.

In [517]:
## SOLUTION
for a in range(1000):
    for b in range(a+1,1000):
        for c in range(b+1, 1000):
            if a + b + c == 1000 and a**2 + b**2 == c**2:
                print (a, b, c, a*b*c)

(200, 375, 425, 31875000)

**Q4.**

Write a program that prints the numbers from 1 to 100. But for multiples of **three** print “Fizz” instead of the number and for the multiples of **five** print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz”.

In [520]:
## SOLUTION
for i in range(1, 101):
    if i % 15 == 0:
        print("FizzBuzz"),
    elif i % 3 == 0:
        print("Fizz"),
    elif i % 5 == 0:
        print("Buzz"),
    else:
        print(i),

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

**Q5**.

Given the list:

`names = [ 'CURLY', 'mOE', 'larry', 'M', 'LaRrY', 'curly']`

Write a program that produces the set:

`['Moe', 'Larry', 'Curly']`

Use list comprehension.

In [56]:
## SOLUTION

names = [ 'CURLY', 'mOE', 'larry', 'M', 'LaRrY', 'curly']

sorted({ name[0].upper() + name[1:].lower() for name in names if len(name) > 1 }, key=len)

['Moe', 'Larry', 'Curly']

## Bonus (Hard!) Questions

**Q1.**
<br>

Without looping, find the State with the smallest city population. Hint: It's NC :) Also, look up the `get` function.
```
states = {
    "CA" : 'SFO',
    "NY" : 'NYC',
    'NC' : 'DUR'
}

cities = {
    'SFO': 1000,
    'NYC': 1500,
    'DUR': 500
}
```

In [5]:
## SOLUTION

states = {
    "CA" : 'SFO',
    "NY" : 'NYC',
    'NC' : 'DUR'
}

cities = {
    'SFO': 1000,
    'NYC': 1500,
    'DUR': 500
}
max_city = max(cities, key = cities.get)
states.keys()[states.values().index(max_city)]

'NY'

**Q2.**

A palindromic number reads the same both ways. The largest palindrome made from the product of **two 2-digit** numbers is 9009 = 91 × 99.

Find the largest palindrome made from the product of **two 3-digit** numbers.

In [6]:
## SOLUTION
def is_palindrome(n):
    ''' Checks if n is a palindrome - converts number to string and checks for reverse equality '''
    return str(n) == str(n)[::-1]
    
max_pal = 0
digit_1, digit2 = 0, 0
for i in range(1,1000):
    for j in range(1,1000):
        current_num = i*j
        if is_palindrome(current_num) and current_num > max_pal:
            digit_1, digit_2 = i, j
            max_pal = current_num
            
print max_pal, "=", digit_1, "x", digit_2

906609 = 913 x 993